.chartWrap{
    width: 27.8125%;
    margin-left: 10.520%;
    padding-top: 25px;
}

@media only screen and (max-width: 1024px) {
    .chartWrap{
        width: 100%;
        margin-left: 0;
    }
}

img{
    width: 100%;
}