.logo{
    font-size: 48px;
    color: #000;
    line-height: normal;
    font-family: 'TT Firs Neue Trl', sans-serif;
}

@media only screen and (max-width: 600px) {
    .logo{
        font-size: 32px;
    }
}
