@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Inter:wght@500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');


.wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headerWrap{
    display: flex;
    justify-items: center;
    padding: 82px 70px 28px 70px;


}



.sectionWrap{
    padding: 0 70px 0 70px;
    width: 100%;
}